<div class="col-md-4 pull-right" >
    <aside class="widget widget_search">
     <%= form_tag search_blogs_path, method: :get, class: "navbar-form navbar-center", role: "search" do %>
      <p>
        <%=text_field_tag :search, params[:search], class: "form-control", placeholder: "Hit enter to search..." %>
        <%= button_tag("Search", name: nil, class: "search-button") do%>
          <%= fa_icon "search"%>
        <%end%>
      </p>
    <%end%>   
</aside>

    <div class="sidebar-module sidebar-module-inset">
       
      <p><span>"</span>When someone tells me 'no', it doesen't mean I can't do it, it simply means I cant't do it with them.
        <span>"</span></p>
        <h6> by: Karen E. Quinones Miller </h6>

        
    </div>

     <div class="sidebar">
        <ol class="list-unstyled social-links">
        <li>
            <% @links.each do |link| %>
            <a href=<%= link.url %> target="_blank" ><%= fa_icon link.name%></a>
            <%end%>
        </li>
        </ol>
  </div>

    <div class="sidebar-module">
        <h4>Topics</h4>
        <%  @set_side_bar_topics.each do |topic| %>
            <p><%= link_to topic.title, topic_path(topic) %></p>
        <% end %>  
        
        
    </div>

    <h5><%= fa_icon "tags"%> Tags</h5>
    <div class="tagcloud">
        <% tag_cloud Blog.tag_counts, %w{s m l} do |tag, css_class| %>
        <%= link_to tag.name.capitalize, tag_path(tag.name), class: css_class %>
        <% end %>

    </div>

    
    <%= source_helper("alert alert-info blog-sidebar-source") %>
   
   
    
</div>