<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">



    <%-# begin about me -%>
    <div class=" about-me">
        <div class="row">
            <div class="col-md-4">
                <%= image_tag " ", width: 300, alt: "Profile Image", class:'profile-img' %>
                
            </div>
            <div class="col-md-8">

               <h1>About Me </h1>
               
                
               <hr>         
                <p>Well trained Web Developer that knows how to create and modify web content. Has experience in  

                analyzing customer needs working with teams and using software for manipulating multimedia  

                With the capacity to adapt and learn fast knows how to apply all stages of web development 
                </p>
            </div>
                
        </div>
    </div>

        <%-# end about me -%>
        <%-# begin skills section -%>

       <div class="skill-card column-spacing">
            <div class="row">
                <div class="col-md-4 skill-background">
                    <h4 class="skill-spacing"><%=fa_icon "pencil-alt"%> Education </h1>
                </div>
               
                <div class="col-md-4 skill-background">
                    <h4 class="skill-spacing"><%=fa_icon "folder"%>Projects </h4>
                    <% @project.each do |project|%>
                        <%= project.title %> <a href=<%= project.url %> target="_blank" ><i class="fab fa-github"></i></a>
                        <% project.project_descriptions.each do |description| %>
                            <p class="body-text"><%= description.body %></p>
                        <%end%>
                    <%end%>
                </div>
                <div class="col-md-4 skill-background">
                    <h4 class="skill-icon skill-spacing"><%=fa_icon "layer-group"%> Skills </h1>
                    <div class="skills">
                        <% @skills.each do |skill| %>
                            <div class="skill">
                            <h7 class="skill-percent"><%= skill.percent_utilized %>%</h7>
                                <h6><%= skill.title %></h6>
                                
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-waring"
                                        role="progressbar"
                                        aria-valuenow="<%= skill.percent_utilized%>"
                                        aria-valuemax="100"
                                        style="width: <%= skill.percent_utilized %>%"
                                    >
                                    </div>
                                </div>   
                            </div>     
                        <% end %> 
                    
                    </div>
                </div>
            </div>
        </div>
        <%= render "contact" %>    
    </div>




